.container-fluid {
  padding-top: 80px;
  max-width: 1300px;
}
#searchHeading {
  font-size: 22px;
}
#listItem:hover {
  background-color: #e6e6e6;
}
#low {
  background-color: green;
  color: white;
}
#moderate {
  background-color: yellow;
  color: black;
}
#high {
  background-color: orangered;
  color: white;
}
#very-high {
  background-color: red
  color: white;
}
#low,
#moderate,
#high,
#very-high {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
